.Allpatient{
    width: 100%;
    height: 100%;
    /* min-height: 100vh; */
    height: auto;
    background-color: #1b7895;
}
.h1Class {
font-size: 1.4em;
}

.emVlass {
    font-style: normal;
}

.aClass {
    text-decoration: none;
    color: inherit;
    border-left-color: #007bff;
    padding: 1%;
}

/* Layout */
.s-layout {
    display: flex;
    width: 100%;
    min-height: 80vh;
    height: auto;
}

.s-layout__content {
    display: flex;
    justify-content: center;
    margin-top: 4%;
    flex: 1;
}

/* Sidebar */
.s-sidebar__trigger {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4em;
    background: #192b3c;
}

.s-sidebar__trigger > i {
    display: inline-block;
    margin: 1.5em 0 0 1.5em;
    color: #f07ab0;
}

.s-sidebar__nav {
    position: fixed;
    top: 8%;
    left: -15em;
    overflow: hidden;
    transition: all .3s ease-in;
    width: 15em;
    height: 100%;
    background: #1b7895;
    color: #007bff;
    z-index: 1;
}



.s-sidebar__nav ul {
    position: absolute;
    left: 0;
    padding: 0;
    width: 96%;
    top : 1.3rem;
}

.s-sidebar__nav ul li {
    width: 100%;
}

.s-sidebar__nav-link {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 45px;
    padding-left: 5%;
    margin-bottom: 2%;
    padding: 2%;
}
.s-sidebar__nav-linkTmp {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 120px;
    padding-left: 5%;
    margin-bottom: 2%;
    margin-top: 20%;
}

.s-sidebar__nav-link em {
    position: absolute;
    top: 30%;
    left: 4em;
    transform: translateY(-50%);
    padding: 2%;
    padding-top: 6%;
}

.s-sidebar__nav-link:hover {
    background-color: #00ff40!important;
    color: white !important;
    border-radius: 12px;
}
.s-sidebar__nav-link:hover > .fontAwesomeIconClass{
    color: white;
}
.s-sidebar__nav-link > i {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 4em;
    height: 4em;
}

.s-sidebar__nav-link > i::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Mobile First */
@media (min-width: 42em) {
    .s-layout__content {
        margin-left: 4em;
    }

    /* Sidebar */
    .s-sidebar__trigger {
    width: 4em;
    }

    .s-sidebar__nav {
    width: 4em;
    left: 0;
    }
    .fontAwesomeIconClass{
        color: #ef5350;
    }
    .aClass {
        padding-left: 30%;
    }
}

@media (min-width: 68em) {
    .s-layout__content {
        margin-left: 15em;
    }

    /* Sidebar */
    .s-sidebar__trigger {
        display: none
    }

    .s-sidebar__nav {
        width: 20em;
    }

    .s-sidebar__nav ul {
        top: 10.3em;
        background-color: white;
        width: 98%;
        padding: 2%;
    }
    
    .fontAwesomeIconClass{
        color: #ef5350;
    }
    
    .aClass {
        padding: 1%;
        padding-left: 5%;
    }
}
.fontAwesomeIconClass{
    font-size: 25px;
}
.profilePatientImage{

}
.imagePagePatient{
    width: 90px;
    height: 110px;
    margin-top: 2%;
    margin-left: 2%;
}
.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}
.pic{
    flex-flow: nowrap;
}
.ulClassTmp{
    height: auto;
    min-height: 435px;
    margin-left: 1%;
    width: 98%;
}
.divMenuNormal{
    height: auto;
    margin-bottom: 5%;
    background-color: #1b7895;
    width: 100%;
    margin-left: 1%;
    border-radius: 12px;
}
.divLayoutContent{
    height: 500px;
    width: 100%;
}
.titlePatient{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #ef5350;
}
.button-wrapper {
    position: relative;
    width: 96%;
    margin: 2%;
    text-align: left;
  }
  
  .button-wrapper span.label {
    position: relative;
    z-index: 0;
    display: inline-block;
    width: 100%;
    background-color: white;
    cursor: pointer;
    color: #007bff;
    height: 100px;
    padding-left: 4%;
    text-transform:uppercase;
    font-size:60px;
    border-radius: 12px;
    border: 2px solid #007bff;
  }
  
  #upload {
      display: inline-block;
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100px;
      top: 0;
      left: 0;
      opacity: 0;
      cursor: pointer;
  }
  .labelUtilePatient{
    font-size: 17px;
    margin-left: 2%;
    font-weight: bold;
  }
  .inputPatient{
    border: 2px solid #007bff;
    color: #007bff;
    border-radius: 12px;
  }
  input[disabled], select[disabled]{
      background-color: #ffffff;
      border-style: unset;
  }
  .textTitlePatient{
    font-weight: bold;
    color: #007bff;
    margin-top: 10%;
  }
  .enregistrePatient{
    width: 98%;
    margin: 1%;
    margin-top: 5%;
    height: 40px;
    border-radius: 12px;
    border: 2px solid #007bff;
  }
  .parametragePatient{
    text-align: end;
    font-size: 35px;
    margin-right: 2%;
    color:  #007bff;
  }
.dossierMedicauxPatient{
    width: 98%;
    min-height: 150px;
    background-color: white;
    margin: 1%;
    border-radius: 12px;
}
.dossierMedicauxPatient:hover{
    transition: 0.5s;
    transform: scale(1.1);
}
.textDossierMedicauxPatient{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    font-weight: bold;
}
.textNumberDossierMedicauxPatient{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    font-weight: bold;
    color: #007bff;
}
.docDossierMedicauxPatient{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: right;
}
.iconDossierMedicauxPatient{
    font-size: 60px;
}
.addDossierMedicauxPatient{
    font-family: Arial, Helvetica, sans-serif;
    color: #007bff;
    font-size: 18px;
    cursor: pointer;
}
.addDossierMedicauxPatient:hover{
    color: #1b7895;
}
.classBoutonPatient{
    height: 40px;
    min-width: 10%;
    border-radius: 12px;
    background-color: #007bff;
    border: 1px solid #007bff;
}
.classInputPatient{
    height: 40px;
    border-radius: 12px;
    border: 1px solid #007bff;
    color: #007bff;
    min-width: 70%;
    margin-left: 10%;
}
.urgencePatient{
    width: 98%;
    min-height: 300px;
    background-color: white;
    margin: 1%;
    padding: 3%;
    border-radius: 12px;
    color: black;
}
.textMoiPatient{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
}
.textTwoMoiPatient{
    text-align: right;
    font-weight: bold;
}
.rowPatient{
    margin-bottom: 3%;
}
.rowUrgenceCarnetDeSante{
    width: 98%;
    margin: 1%;
}
.divConatctUrgencePatient{
    width:98%;
    margin: 1%;
    min-height: 100px;
    background-color: white;
    border-radius:12px;
    padding: 2%;
}
.contactOnePatient{
    color: #00a1e7;
    font-weight: bold;
}
.contactTwoPatient{
    color: #00a1e7;
    font-size: 14px;
}
.contactThreePatient{
    color: #00a1e7;
    font-weight: bold;
    margin-top: 2%;
}
.rechercheCarnetDeSante{
    margin-top: 5%;
    width: 88%;
    margin-left: 1%;
}
.sonrechercheCarnetDeSante{
    width: 100%;
}
.sonofchildrechercheCarnetDeSante{
    border: 2px solid #00bfd8;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
.sonofchildV2rechercheCarnetDeSante{
    border: 2px solid #00bfd8;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    text-align: center;
}
.boutonMenuCarnetDeSante{
    width: 98%;
    min-height: 40px;
    border-radius: 12px;
    border: 2px solid #00bfd8;
    color: white;
    background-color: #00bfd8;
    margin-bottom: 3%;
}
.boutonMenuCarnetDeSante:hover{
    border: 2px solid #00bfd8;
    color: #00bfd8;
    background-color: white;
}
.sonrechercheCarnetDeSanteV3{
    width: 88%;
    margin-bottom: 5%;
}
.MiniTitleCarnetDeSante{
    text-align: center;
    color: #00bfd8;
    margin-bottom: 3%;
}
.iconAddCarnetDeSante{
    text-align: right;
    padding-right: 5%;
    color: #ffc107;
    font-size: 22px;
    cursor: pointer;
}
.iconAddCarnetDeSanteV2{
    text-align: right;
    padding-right: 6%;
    color: #dc3545;
    font-size: 22px;
    cursor: pointer;
}
.allContentPatient{
    background-color: #1b7895;
    min-height: 720px;
    width: 98%;
    padding: 2%;
    border-radius: 12px !important;
    margin: 1%;
    margin-bottom: 3%;
}
@media (max-width: 767px){
	.sonrechercheCarnetDeSanteV3{
        width: 100%;
        margin-bottom: 5%;
    }
    .rechercheCarnetDeSante{
        margin-top: 5%;
        width: 100%;
        margin-left: 1%;
    }
    .rowUrgenceCarnetDeSante{
        width: 100%;
        padding-right: 5%;
    }
    .iconAddCarnetDeSante{
        text-align: center;
        color: #ffc107;
    }
    .iconAddCarnetDeSanteV2{
        color: #dc3545;
    }
}

.ulChoixCarnetDeSante{
    width: 100%;
    display: flex;
    cursor: pointer;
}
.liChoixCarnetDeSante{
    width: 29%;
    margin: 0 auto;
    margin-bottom: 2%;
    min-height: 260px;
    color:#0085f1;
    background-color: white;
    border-radius: 12px;
}
.divChoixCarnetDeSante{
    width: 100%;
    height: 100%;
    text-align: center;
}
.divImgChoixCarnetDeSante{
    width: 100%;
    padding-top: 10%;
}
.imgChoixCarnetDeSante{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #27213c;
    padding: 5%;
    background-color: #27213c;
    color: white;
}
.textChoixCarnetDeSante{
    font-size: 30px;
    font-weight: bold;
    color: #1b7895;
}
.pChoixCarnetDeSante{
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    color: #1b7895;
}
.liChoixCarnetDeSante:hover .imgChoixCarnetDeSante{
    transition: all 0.65s;
    transform: rotateY(360deg);
    border: 5px solid #0090af;
    background-color: #0090af;
}
.liChoixCarnetDeSante:hover .textChoixCarnetDeSante{
    color: #fff;
}
.liChoixCarnetDeSante:hover .pChoixCarnetDeSante{
    color: #fff;
}
.liChoixCarnetDeSante:hover{
    background-color: #27213c;
} 
#iconDecorationCarnetDeSante{
    width: 100px;
    height: 100px;
}

@media only screen and (min-width: 573px) and  (max-width: 1099px){
	.ulChoixCarnetDeSante{
        width: 100%;
        cursor: pointer;
        display: initial;
    }
    .liChoixCarnetDeSante{
        width: 30%;
        margin: 0 auto;
        margin-bottom: 2%;
        min-height: 260px;
        background-color: white;
        border-radius: 12px;
        color: #0090af;
    }
    @media only screen and (min-width: 573px) and  (max-width: 640px){
        .liChoixCarnetDeSante{
            width: 40%;
            margin: 0 auto;
            margin-bottom: 2%;
            min-height: 260px;
            background-color: white;
            border-radius: 12px;
            color: #0090af;
        }
    }
}
@media (max-width: 572px){
	.ulChoixCarnetDeSante{
        width: 100%;
        cursor: pointer;
        display: initial;
    }
    .liChoixCarnetDeSante{
        width: 45%;
        min-height: 260px;
        background-color: white;
        border-radius: 12px;
        color: #0090af;
        margin: 0 auto;
        margin-bottom: 2%;
    }
}
.newClassNameCarnetDeSante{
    width: 98%;
    min-height: 800px;
    background-color: #eeeeee;
    border-radius: 12px;
    padding: 2%;
}
.retourCarnetDeSante{
    width: 20%;
    text-align: left;
    font-size: 40px;
    color: #00a1e7;
    cursor: pointer;
    line-height: 60px;
}
.miniTitleUrgenceCarnetDeSante{
    width: 70%;
    text-align: center;
    font-size: 30px;
    color: #00a1e7;
    font-weight: 700;
}
.accessCarnetDeSante{
    display: flex;
    width: 100%;
    margin-bottom: 3%;
}
.allUrgenceCarnetDeSante{
    background-color: #eeeeee;
    padding: 2%;
    border-radius: 12px;
    min-height: 800px;
}
.addContactUrgencePatient{
    width: 98%;
    min-height: 40px;
    margin: 1%;
    background-color: white;
    border-radius: 12px;
    cursor: pointer;
    padding-left: 5%;
}
.addContactUrgencePatient:hover{
    background-color: #00a1e7;
}
.addContactUrgencePatient:hover .iconContactUrgencePatient, .addContactUrgencePatient:hover .liContactUrgencePatient{
    color: white;
}
.iconContactUrgencePatient{
    font-size: 23px;
    text-align: center;
    color: #00a1e7;
}
.liContactUrgencePatient{
    color: #00a1e7;
    text-align: center;
    font-size: 20px;
    padding-left: 2%;
}
.allListeConatctUrgencePatient{
    width: 100%;
    height: 370px;
    padding: 1%;
    overflow-x: hidden;
    overflow-y: auto;
}
.titleChampsUrgenceCarnetDeSante{
    color: black;
    font-weight: 600;
    margin-top: 2%;
    margin-left: 2%;
}

.table-maladie-carnetMedical{
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    border: 1px solid #4d2863;
}
.table-maladie-carnetMedical thead{
    background-color: #4d2863;
    color: white;
    font-weight: 600;
    text-align: center;
    height: 38px;
}
.table-maladie-carnetMedical td{
    width: 50%;
    min-height: 38px;
    height: 38px;
    text-align: center;
    background-color: #eeeeee;
}
.table-maladie-carnetMedical th{
    width: 50%;
    height: 40px !important;
}
.documentTitleCarnetDeSante{
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #4d2863;
    height: 50px;
    line-height: 50px;
}
.titleDiagnosticCarnetSante{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}
.titleDiagnosticCarnetSanteV2{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}
.demo-editor-carnetDeSante{
    border: 1px solid #dee2e6;
    border-radius: 4px;
}
.diagTextVaccinateur{
    width: 100%;
    height: 100px;
    background-color: white;
    padding: 2%;
    border-radius: 12px;
    border: 1px solid #eeeeee;
}
.dimensionthDiagnostic{
    width: 50%;
    padding: 2%;
    border-radius: 12px;
    border: 1px solid #eeeeee;
}
.allDiagnosticContentData{
    background-color: white;
    padding: 2%;
    margin-top: 3%;
    border-radius: 12px;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
}
.deuxiemeclassTablecarnetMedical{
    width: 96% !important;
    margin : 2%;
    overflow-x: auto;
}


.table-maladie-carnetMedical-tmp2{
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    border: 1px solid #4d2863;
}
.table-maladie-carnetMedical-tmp2 thead{
    background-color: #4d2863;
    color: white;
    font-weight: 600;
    text-align: center;
    height: 38px;
}
.table-maladie-carnetMedical-tmp2 td{
    width: 10%  !important;
    min-height: 38px;
    height: 38px;
    text-align: center;
    background-color: #eeeeee;
}
.table-maladie-carnetMedical-tmp2 th{
    width: 10% !important;
    height: 40px !important;
}
.document-carnet-medicale-mere{
    background-color: white;
    border-radius: 12px;
    width: 96%;
    margin: 2%;
}
.document-carnet-medicale-mere-img{
    width: 99%;
    height: 200px;
    margin-left: 1%;
}
.document-carnet-medicale-mere-img img{
    width: 100%;
    height: 200px;
    object-fit: contain;
}
.document-carnet-medicale-mere-name{
    height: 65px;
    font-size: 13px;
    text-align: center;
    font-weight: 600;
    overflow: auto;
}
.allUrgenceCarnetDeSanteRow-new{
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
}
.allUrgenceCarnetDeSanteRow-new-title{
    text-align: center;
    width: 100%;
    background-color: #4d2863;
    height: 40px;
    line-height: 40px;
    color: white;
    font-size: 18px;
    font-weight: 600;
}
.dimensionthDiagnosticTitleChamp{
    font-weight: 700;
}
.documentTitleCarnetDeSanteFather{
    border: 1px solid #4d2863;
    background-color: #4d2863;
}