.mot_de_passe_oublie_meddoc_container{
	/* width: 600px; */
    margin: 0 auto;
    margin-top: 6%;
    box-sizing: border-box;
    box-shadow: 0 2px 8px rgb(0 0 0 / 20%);
    padding: 2%;
    min-height: 42vh;
    border-radius: 12px;
}
.mot_de_passe_oublie_meddoc_container_reinitialisation{
	/* width: 600px; */
    margin: 0 auto;
    margin-top: 6%;
    box-sizing: border-box;
    box-shadow: 0 2px 8px rgb(0 0 0 / 20%);
    padding: 2%;
    min-height: 56vh;
    border-radius: 12px;
}
#titleMotDePasseOublie{
    line-height: 21px;
	text-align: center;
    font-size: 14px;
}
.sonlogginAllMeddocs{
    background-color: white;
	width: 100%;
	min-height:800px;
	text-align: center;
	padding-top: 10%;
}
.sonV2logginAllMeddocs{
    background-color: #f1f4f5;
	width: 100%;
	min-height:950px;	
	text-align: center;
	padding-top: 10%;
	padding-left: 5%;
	padding-right: 5%;
}
.inputSonOfChildLoggins{
	background-color: white;
    border-top-right-radius: 12px !important;
	border-bottom-right-radius: 12px !important;
	border: 1px solid white;
}
.spanSonOfChildLoggins{
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
	background-color: white;
	border: 1px solid white;
}
.mot_de_passe_input_identifient_ul{
	display: flex;
    width: 98%;
    margin: 0;
    margin-left: 1%;
    margin-right: 1%;
    padding: 0;
    margin-top: 10%;
}
.mot_de_passe_input_identifient_ul_li_1{
	width: 30%;
}
.mot_de_passe_input_identifient_ul_li_2{
	width: 70%;
}
.mot_de_passe_input_identifient_ul_li_1_div{
	width: 100%;
    background-color: #00bfd8;
    height: 38px;
    line-height: 38px;
    text-align: center;
    color: white;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border: 2px solid #00bfd8;
}
#mot_de_passe_input_identifient_ul_li_2_input{
	width: 100%;
    border: 2px solid #00bfd8;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
}
#mot_de_passe_input_identifient_ul_li_2_input:focus{
	outline: none;
	box-shadow: none;
}
#mot_de_passe_input_identifient_ul_li_2_input::placeholder{
	color: #1b7895;
	font-weight: 500;
}
.mot_de_passe_input_identifient_bouton_envoyer{
	background-color: #00bfd8;
	color: white;
	width: 92%;
    margin-left: 4%;
    height: 38px;
    border: 2px solid #00bfd8;
    border-radius: 12px;
    font-size: 19px;
    font-weight: 900;
	transition: .5s;
}
.mot_de_passe_input_identifient_bouton_envoyer:hover{
	background-color: white;
	color: #00bfd8;
	border: 2px solid #00bfd8;
}
.mot_de_passe_input_identifient_bouton_reinitialiser{
	background-color: #00bfd8;
    color: white;
    width: 98%;
    margin-left: 1%;
    height: 38px;
    border: 2px solid #00bfd8;
    border-radius: 12px;
    font-size: 19px;
    font-weight: 900;
    transition: .5s;
}