.mes-patients-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    /* background-color: #ff6c0a; */
}
.mes-patients-container table{
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    position: relative;
    min-height: 50vh;
}
.mes-patients-container h3{
    display: block;
    margin: 0 auto;
    text-align: center;
    color: #c5305f;
    /* margin-bottom: 1vh; */
    padding: 5px;
}
.mes-patients-container tr{
    display: block;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #f0f0f0;
}
.mes-patients-container tbody{
    display: block;
    margin: 0 auto;
    text-align: center;
    background-color: #f7f7f7;
}
.mes-patients-container thead{
    display: block;
    margin: 0 auto;
    text-align: center;
    background-color: #f7f7f7;
}
.mes-patients-container tfoot{
    display: block;
    margin: 0 auto;
    text-align: center;
    background-color: #f7f7f7;
}
.mes-patients-container td{
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
    /* background-color: cadetblue; */
    /* padding-right: 0;
    padding-left: 0; */
    display: inline-flex;
    align-self: center;
    align-items: center;
    align-content: center;
    justify-self: center;
    justify-content: center;
    /* border: 1px solid #f0f0f0; */
}
.patient-initial{
    border-radius: 100%;
    border: 1px solid #2b3a3b;
    background-color: #2b3a3b;
    font-size: 90%;
    font-weight: 700;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 40px;
    height: 40px;
    /* position: relative; */
}
.patient-name{
    /* font-size: 90%; */
    width: 100%;
    font-weight: 600;
    /* color: #004369; */
}
/* style={{backgroundColor:'#25d58e',textAlign:'center',display:'flex',alignItems:'center',justifyContent:'center',alignSelf:'center'}} */
.mes-patients-list-container{
    position: relative;
}
.header-list-content{
    position: relative;
    width: 100%;
    min-height: 4vh;
    padding: 0;
    margin-bottom: 0;
    background-color: #2b3a3b;
}.menu-list-content-none{
    display: none;
}
.menu-list-content{
    position: relative;
    width: 100%;
    min-height: 4vh;
    padding: 0;
    padding-bottom: 15px;
    margin-bottom: 0;
    background-color: #2b3a3b;
    display: flex;
    justify-content: center;
}
.menu-list-content select{
    outline: none;
    background-color: #2b3a3b;
    color: #fff;
    border-bottom-color: #f0f0f0;
}
.body-list-content{
    width:100%;
    position: relative;
    display: block;
    margin: 0 auto;
    padding-bottom: 2%;
    background-color: #2b3a3b;
}
.body-list-content tbody{
    min-height: 35vh;
    /* width:100%;
    position: relative;
    display: block;
    margin: 0 auto; */
    /* padding-bottom: 2%; */
    /* background-color: #2b3a3b; */
}
ul.header-tab{
    display: flex;
    /* margin: 0 auto; */
    padding: 0;
    background-color: #fff;
    /* border-bottom: 2px solid #2b3a3b; */
    /* min-height: 5vh; */
    /* padding: 2vh; */
    /* justify-content: center; */
    /* align-items: center; */
    /* text-align: center; */
}
ul.header-tab li{
    display: inline-block;
    position: relative;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-weight: bold;
    background-color: #1b7895;
    color: #fff;
    cursor: pointer;
    text-align: center;
    /* border-top-right-radius: 30%;
    border-top-left-radius: 30%; */
}
ul.header-tab li.actif{
    background-color: #2b3a3b;
    /* border-top-right-radius: 30%;
    border-top-left-radius: 30%; */
}
.abtn{
    margin-right: 5px;
    padding: 5px;
    border-radius: 10%;
    color: #fff;
}
.btn-consult{
    background-color: #82a64e;
}
.btn-consult:hover{
    color: #82a64e;
    background-color: #fff;
}
.btn-change-rdv{
    background-color: #ff6c0a;
}
.btn-change-rdv:hover{
    color: #ff6c0a;
    background-color: #fff;
}
/* .abtn:hover{
    color:#2b3a3b;
} */
.patientPageClassFirst,.patientPageClassLast{
    width: 50px;
    text-align: center;
    /* padding: 1%; */
    display: none;
}
.patientPageClassNext a , .patientPageClassPrev a, .patientPageClassFirst a, .patientPageClassLast a, .patientPageClassItemTmp a{ 
    text-decoration: none;
    color: #004369;
    font-weight: bold;
}
.patientPageClassActive{
    width: 50px;
    text-align: center;
    /* padding: 1%; */
    cursor: not-allowed;
}
.patientPageClassActive a{
    cursor: not-allowed;
    color: #2b3a3b;
}
.patientPageClassItemTmp{
    min-width: 50px;
    text-align: center;
    /* padding: 2%; */
    font-weight: bold;
}
.patientPageClassItemTmp:hover{
    text-decoration: none;
}
.patientPageClassItemTmp a:hover{
    text-decoration: none;
}
.patientPageClassActive:hover{
    color: black;
    cursor: not-allowed;
}
.patientPageClassActive a:hover{
    color: black;
    cursor: not-allowed;
}
.patientPageClassNext{
    text-align: right;
    padding: 1%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.patientPageClassPrev{
    text-align: left;
    padding: 1%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}