
.vaccination-content>a{
    /* text-align: center; */
    font-family: 'Montserrat',sans-serif;
    position: fixed;
    top:15vh;
    left:20%;
    padding: 10px;
    background-color: #fff;
    z-index: 800;
}