
.container-pharmacie {
    padding-top: 5vh;
    padding-bottom: 5vh;
}
.container-pharmacie>.container {
    /* padding: 20px 50px 20px 50px; */
    padding: 50px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: justify;
}
.container-pharmacie ul li {
    list-style-type: disc;
}
.container-pharmacie ol li {
    list-style-type: decimal;
}
.container-pharmacie .container-boutique {
    text-align: center;
}
.container-pharmacie h2{
    font-size: 17px;
    font-weight: 600;
    color: #004369;
    text-align: center;
    /* text-transform: uppercase; */
}
.container-pharmacie h3{
    font-size: 17px;
    font-weight: 600;
    color: #004369;
}
.container-pharmacie p, .container-pharmacie li{
    font-size: 15px;
    color: #376074;
}

