.footer-content{
	background-color:#1b7895;
	width: 100%;
	padding-bottom: 1%;
	padding-top: 1%;
	padding-right: 1%;
	padding-left: 1%;
	padding: 3%;
	z-index: 900;
	color: white;
	display: block;
	margin: 0 auto;
	position: relative;
	font-family: 'Montserrat',sans-serif;
}
.footer_content_container_fluid_row{
	margin: 0;
	padding: 0;
}
.footer-content a{
	text-decoration: none;
	color: #fff;
}
.footer-content a:hover{
	text-decoration: none;
	color: #fff;
}
.footer_content_container_fluid_row_col_h5{
	text-align: left;
    /* margin-left: 5%; */
    font-weight: bold;
    font-size: 21px;
    margin-bottom: 6%;
    margin-top: 7%;
}
.footer_content_container_fluid_row_col_ul{
	margin: 0;
    padding: 0;
    list-style: none;
    /* padding-left: 5%; */
    font-weight: 200;
    cursor: pointer;
    font-size: 15px;
}
.footer_content_container_fluid_row_col_ul li:hover{
	font-weight: 500;
}
.footer_content_container_fluid_row_col_ul_v2{
	margin: 0;
    padding: 0;
    list-style: none;
    /* padding-left: 5%; */
    font-weight: 200;
    cursor: pointer;
	display: flex;
	justify-content: center;
	width: 100%;
}
.footer_content_container_fluid_row_col_ul_v2_li{
	width: 100%;
	display: flex;
	justify-content: center;
}
.footer_content_container_fluid_row_col_ul_v2_li_svg:hover{
	width: 32px;
	height: 32px;
	fill: white;
}
.footer_content_container_fluid_row_col_h5_v2{
	margin-top: 11%;
}
.footer_content_container_fluid_row_col_ul_v2_li_FontAwesomeIcon{
	font-size: 30px;
    color: #b2d1db;
}
.footer_content_container_fluid_row_col_ul_v2_li_FontAwesomeIcon:hover{
	font-size: 32px;
    color: white;
}
.footer_content_container_fluid_row_col_ul_v2_div_v2{
	text-align: center;
	width: 100%;
}
.footer_content_container_fluid_row_col_h5_v3{
	margin-top: 4%;
}
.footer_content_container_fluid_row_col_h5_v4{
	text-align: center;
}
.footer_content_container_fluid_row_col_h5_v3_input{
	width: 100%;
    border-radius: 20px;
    height: 47px;
    border: 1px solid #1b7895;
	background-color: #b2d1db;
	outline-style: none;
	padding-left: 3%;
}
.footer_content_container_fluid_row_col_h5_v3_input::placeholder{
	font-weight: 500;
	text-align: center;
}
.footer_content_container_fluid_ul{
	/* display: flex; */
	display: inline-flex;
	width: 100%;
	padding: 0;
}
.footer_content_container_fluid_ul>li{
	padding: 0;
}
.footer_content_container_fluid_ul_li{
	width: 20%;
}
.footer_content_container_fluid_row_col_h5_v3_divinput{
	width: 100%;
}
.footer_content_container_fluid_row_col_h5_v3_divtext{
	margin-top: 6%;
    text-align: center;
}
.footer_content_container_fluid_row_col_h5_v3_divtext a{
	margin-top: 6%;
    font-weight: 500;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #39c3ef;
    text-decoration-thickness: 3px;
    text-underline-offset: 4px;
}
.footer_content_container_fluid_bas_footer{
    color: #b2d1db;
    margin-top: 4%;
}
@media only screen and (max-width: 900px) {
	.footer_content_container_fluid_ul{
		display: block;
		width: 100%;
	}
	.footer_content_container_fluid_ul_li{
		width: 100%;
		text-align: center;
	}
	.footer_content_container_fluid_row_col_h5{
		text-align: center;
		/* margin-left: 5%; */
		font-weight: bold;
		font-size: 21px;
		margin-bottom: 2%;
		margin-top: 7%;
	}
	
	.footer_content_container_fluid_row_col_ul_v2_div_v2{
		text-align: center;
		width: 100%;
	}
	.footer_content_container_fluid_row_col_ul_v2{
		margin: 0;
		padding: 0;
		list-style: none;
		/* padding-left: 5%; */
		font-weight: 200;
		cursor: pointer;
		display: flex;
		justify-content: center;
		width: 100%;
		/* background-color: blueviolet; */
    	/* margin-left: 31%; */
	}
	
	.footer_content_container_fluid_row_col_h5_v3_divinput{
		width: 100%;
		display: flex;
		justify-content: center;
    	/* margin-left: 25%; */
	}
	.footer_content_container_fluid_row_col_h5_v3_divtext{
		margin-top: 1%;
		font-weight: 500;
		text-align: center;
		text-decoration: underline;
		text-decoration-color: #39c3ef;
		text-decoration-thickness: 3px;
		text-underline-offset: 4px;
	}
}
