.home-container{
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    padding-bottom: 5vh;
    margin-bottom: 5vh;
}
.custom-shape-divider-bottom-1629768645 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: 500;
    padding: 0;
    /* margin-top: 5vh; */
}

.custom-shape-divider-bottom-1629768645 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 146px;
    fill : white;
}
.home-text{
    /* padding: 50px; */
    position: relative;
    width: 100%;
    min-height: 85vh;
    /* margin-top: 2%; */
    display: block;
    border-bottom-left-radius: 40%;
    z-index: 100;
    background-image: linear-gradient(to top, #1b7895, #1b7895, #1b7895, #1b7895, #1b7895);
}
.home-text span{
    margin-top: -12px;
    color: #1b7895;
    /* margin-bottom: 50px; */
    text-align: center;
    font-size: 70px;
    font-weight: 700;
    vertical-align: top;
    text-decoration: underline;
}
.home-text u{
    color: #00bfd8;
    justify-content: start;

}
.home-text p{
    color: #1b7895;
    font-size: 25px;
}
.home-text h1{
    /* margin: 0 auto; */
    width: 100%;
    color: white;
    margin-bottom: 50px;
    text-align: center;
    font-family: 'MontSerrat',sans-serif;
    font-weight: 700;
    font-size: 7vh;
    margin-top: 7%;
}
.home-text b{
    color: #39c3ef;
}
.home_container_search_bar_ul{
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
.home_container_search_bar_ul_li_v1{
    /* width: 60%; */
    padding: 5px;
}
.home_container_search_bar_ul_li_v2{
    /* width: 30%; */
    padding: 5px;
}
.home_container_search_bar_ul_li_v3{
    /* width: 10%; */
    padding: 5px;
}
.home_container_search_bar_ul_li_v1_input{
    width: 100%;
    height: 60px;
    border: 0;
    /* border-top-left-radius: 25px;
    border-bottom-left-radius: 25px; */
    outline-style: none;
    background-color: white;
    box-sizing: border-box;
    box-shadow: 0 2px 8px rgb(0 0 0 / 20%);
    padding-left: 2%;
}
.home_container_search_bar_ul_li_v1_input::placeholder{
    text-align: left;
    color: #1b7895;
    font-weight: 500;
}
.home_container_search_bar_ul_li_v2_input{
    width: 100%;
    height: 60px;
    border: 0;
    outline-style: none;
    background-color: white;
    box-sizing: border-box;
    box-shadow: 0 2px 8px rgb(0 0 0 / 20%);
    padding-left: 2%;
    /* margin-left: -10px; */
}
.home_container_search_bar_ul_li_v2_input::placeholder{
    text-align: left;
    color: #1b7895;
    font-weight: 500;
}
.home_container_search_bar_ul_li_v3_button{
    width: 100%;
    height: 60px;
}
.home_container_search_bar_ul_li_v3_button{
    background-color: #c5305f;
    color: white;
    border: 3px solid #c5305f;
    font-size: 25px;
}
@media  only screen and (min-width:768px) {
    .home_container_search_bar_ul_li_v1_input{
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
    }
    .home_container_search_bar_ul_li_v3_button{
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
    }
}
@media  only screen and (max-width:767px) {
    .custom-shape-divider-bottom-1629768645{
        display: none;
    }
    .home_container_search_bar_ul_li_v1_input{
        /* border-top-left-radius: 0px;
        border-bottom-left-radius: 0px; */
        border-radius: 10px;
    }
    .home_container_search_bar_ul_li_v2_input{
        border-radius: 10px;
    }
    .home_container_search_bar_ul_li_v3_button{
        /* border-top-right-radius: 0px;
        border-bottom-right-radius: 0px; */
        border-radius: 10px;
    }
}
.banner-top{
    /* display: block; */
    position: relative;
    margin: 0 auto;
    width: 100%;
    min-height: 80vh;
    padding: 0;
    background-color: #1b7895;
}

.home-background{
    /* display: none;
    visibility: hidden; */
    position: relative;
    top:5%;
    right: 0vw;
    display: flex;
    justify-content: center;
    /* margin-top: -40vh; */
    width: 100%;
    min-height: 110vh;
    /* right: 5vh; */
    padding: 0;
    /* align-items: center; */
}
@media (max-width:767px) {
    .home-background{
        display: none;
    }
}
.home-background img{
    position: absolute;
    margin-top: 15vh;
    width: 75%;
    z-index: 100;
    object-fit: contain;
}
.home-background svg:nth-child(1){
    position: absolute;
    top:-20vh;
    transform: scale(0.9) rotate(-55deg);
    z-index: 95;
    opacity: 0.8;
}
.home-background svg:nth-child(2){
    position: absolute;
    top:-20vh;
    transform: scale(1.0) rotate(-45deg);
    opacity: 0.8;
}
.home-background svg:nth-child(3){
    position: absolute;
    top:-20vh;
    transform: scale(1.1) rotate(-35deg);
    opacity: 0.8;
}
.home-background img:nth-child(4){
    position: absolute;
    top: -3vh;
    /* left: 0vw; */
    left: 0%;
    width: 15%;
    z-index: 150;
    transform: scale(0);
	animation-name: notify;
    animation-delay: 2s;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
.home-background img:nth-child(5){
    position: absolute;
    top: -5vh;
    /* left: 10vw; */
    left: 17%;
    width: 15%;
    z-index: 150;
    transform: scale(0);
	animation-name: notify;
    animation-delay: 5s;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
.home-background img:nth-child(6){
    position: absolute;
    top: -5vh;
    /* left: 32vw; */
    right: 20%;
    width: 15%;
    z-index: 150;
    transform: scale(0);
	animation-name: notify;
    animation-delay: 8s;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
.home-background img:nth-child(7){
    position: absolute;
    top: -10vh;
    /* left: 40vw; */
    right: 5%;
    width: 15%;
    z-index: 150;
    animation-delay: 11s;
	animation-name: notify;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
@keyframes notify {
    0%{
        transform: scale(0); }
    5%{
        transform: scale(1); }
    70%{
        transform: scale(1);
        opacity: 0; }
    95%{
        transform: scale(1);
        opacity: 0; }
    100%{
        transform: scale(0);
        opacity: 0; }
}
.search-bar{
    padding: 0;
    margin-top: 5vh;
    width: 100%;
    display: block;
    text-align: center;
    position: relative;
}
.first-content{
    position: relative;
    width: 100%;
    min-height: 50vh;
    z-index: 0;
    display: block;
    margin: 0 auto;
}
.why-meddoc{
    z-index: 10;
    display: flex;
    margin: 0 auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* padding-top: 25vh; */
    padding-bottom: 5vh;
    /* border-top-right-radius: 85vh; */
    background-color: #fff;
}
.back-why-meddoc{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: #1b7895;
}
h2.section-titles{
    text-align: center;
    margin-bottom: 5vh;
    color: #66c6e4;
    font-size: 40px;
    margin-top: 4%;
    z-index: 50;
    font-weight: 900;
    padding:0;
    /* margin-left: -10%; */
}
.why-meddoc img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    transition: all;
    /* animation: onShow 1s 1 linear; */
}
.why-meddoc img:fullscreen{
    animation: onShow 1s 1 linear;
}
.subtitle-img{
    text-align: center;
    font-size: 20px;
    width: 100%;
    margin: 0 auto;
	font-weight: bold;
	margin-top: 5%;
	height: 60px;
    padding: 15px;
    color: #004369;
}
@keyframes onShow {
    0%{
        transform: scale(0);
        opacity: 0;
    } 100%{
        transform: scale(1);
        opacity: 1;
    }
}
.text-img{
    width: 100%;
    color:  #92b1b0 ;
    font-size: 15.2px;
    margin: 0 auto;
    padding: 15px;
    text-align: center;
    font-weight: bolder;
    font-family: sans-serif;
}
.newInspirationDominiceAcceuille{
	text-align: center;
}
.newImageInspirationDominiceAcceuille{
	max-width: 80%;
    /* margin-top: -17%; */
    z-index: 10;
}
.textHelperTemporaireAcceuil{
	font-size: 16px;
    color: #2e3860;
    font-family: 'MontSerrat',sans-serif;
    margin-bottom: 5vh;
    text-align: center;
}
#prise-rdv-titre{
    font-size: 29px;
    padding-bottom: 5%;
    padding-top: 15%;
    line-height: 100%;
    color: #FF6C0A;
    font-family: 'MontSerrat',sans-serif;
    font-weight: bold;
    text-align: center;
}
#click-collect-titre{
    font-size: 25px;
    padding-bottom: 5%;
    line-height: 100%;
    color: #FF6C0A;
    font-family: 'MontSerrat',sans-serif;
    font-weight: 700;
    text-align: center;
}
#suivi-medical-titre{
    font-size: 25px;
    padding-bottom: 5%;
    line-height: 100%;
    color: #fa9397;
    font-family: 'MontSerrat',sans-serif;
    font-weight: 700;
}
#textTitleTmpAcceuil{
	font-size: 25px;
    padding-bottom: 5%;
    line-height: 100%;
    color: #ff6c0a;
    font-family: 'MontSerrat',sans-serif;
    font-weight: 700;
}
.rowHelperTemporaireAcceuil{
    display: flex;
    justify-content: center;
	margin-top: 0;
	padding-left: 10%;
	/* padding-right: 5%; */
}
.rowHelperTemporaireAcceuil_v2{
    display: flex;
    justify-content: center;
	margin-top: 0;
	padding-left: 10%;
}
.finHelperTemporaireAcceuil{
	margin-bottom: 10%;
}
.textAuMilieu{
    display: block;
    margin: 0 auto;
    height: fit-content;
    /* padding-top: 10%; */
    /* margin-top: 5%; */
}
.home_container_prise_rdv_btn_button{
    background-color: #39c3ef;
    text-decoration: none;
    color: #fff;
    font-weight: 800;
    padding: 5px;
    text-align: center;
    border-radius: 17px;
    font-family: 'MontSerrat',sans-serif;
    border: 2px solid #39c3ef;
    width: 40%;
}
.home_container_prise_rdv_btn_button:hover{
    background-color: #fff;
    color: #39c3ef;
    border: 2px solid #39c3ef;
    width: 40%;
}
.home_container_prise_rdv_btn_button:hover .home_container_prise_rdv_btn_button_a{
    color: #39c3ef;
    text-decoration: none;
}
.home_container_prise_rdv_btn_button_a{
    text-decoration: none;
    color: white;
}
.nos-services{
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 0;
    /* margin-bottom: 7vh; */
}
.all-single-service{
    font-family: 'MontSerrat',sans-serif;
}
.all-single-service p{
    text-align: center;
}
.all-single-service:hover{
    transform: scale(1.05);
}
.single-service{
    /* background-color: #39c3ef; */
    /* display: block; */
    /* border: 2px solid #2e3860; */
    /* box-shadow: 0px 0px 5px 2px #f1f1f1; */
    width: 400px;
    height: 250px;
    margin: 0 auto;
    margin-top: 10vh;
    /* background-image: url('data:image/svg+xml;charset=UTF-8,<svg className="single-background" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg"><path fill="#1b7895" d="M39.7,-45.3C55.3,-34.3,74.4,-25.4,82.7,-9.9C91,5.6,88.5,27.6,78.6,46C68.7,64.3,51.4,79,31.7,85.4C12,91.9,-10.1,90.2,-29.6,82.5C-49.1,74.9,-66.1,61.4,-66.4,45.7C-66.8,29.9,-50.5,11.9,-46.1,-7.3C-41.7,-26.5,-49.1,-46.9,-43.4,-59.6C-37.7,-72.3,-18.8,-77.2,-3.4,-73.2C12.1,-69.2,24.2,-56.2,39.7,-45.3Z" transform="translate(100 100)" /></svg>'); */
    /* background-size:cover; */
    /* overflow: hidden; */
    /* padding-top: 1vh; */
}
.single-service h6{
    color: #fff !important;
    z-index: 15;
}
.single-service span{
    margin-top:0%;
    color: #fff;
    font-size: 95px;
    text-align: center;
    display: block;
    margin-top:-50%;
}
.single-service p{
    color: #fff;
    /* font-size: 95px; */
    text-align: center;
    /* display: block; */
}
.single-service .single-background{
    /* position: sticky; */
    margin-top: -30%;
    margin-left:0%;
    transform: scale(1) rotate(195deg);
    opacity: 1;
    z-index: 0;
    /* overflow: hidden; */
}
.home_container_title{
    margin: 0;
    padding: 0;
    height: fit-content;
}
.textHelperTemporaireAcceuil_div_button{
    text-align: center;
    /* margin-bottom: 50px; */
}
.newImageInspirationDominiceAcceuille_v2{
    /* margin-top: -6%; */
}




.why{
    margin-top:50px;
    min-height: 250px;
    position: relative;
    -moz-transition: all .1s ease;
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
  }
  .why .overlay-two{
    margin-top:50px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    /* background: #5533ff; */
    background: linear-gradient(-95deg, #1b7895 50%, #39c3ef 100%);
    /* -webkit-transform: skew(0, 0deg); */
    /* transform: skewY(0deg); */
    -webkit-transform-origin: 0;
    transform-origin: 0;
    z-index: -12; 
  }
  .why .intro-img {
    margin-top: -30%; 
  }
  .why .intro-img img {
    display: block;
    height: auto;
    max-width: 100%; 
  }
  #services .container-fluid{
    padding-top: 50px;
    -moz-transition: all .1s ease;
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
  }
  #services .services-item {
    padding-top: 5%;
    -moz-transition: all .8s ease;
    -webkit-transition: all .8s ease;
    transition: all .8s ease; }
  #services .services-item .icon {
    background: #3ecf8e;
    width: 120px;
    height: 120px;
    margin: 0px auto;
    margin-bottom: 0px;
    text-align: center;
    display: block;
    border-radius: 50%;
    position: relative;
    margin-bottom: 25px; 
  }
  #services .services-item:hover .icon{
    background: none;
    border: 2px double #3ecf8e;
    box-shadow: 0px 0px 25px 0px rgba(255, 254, 254, 0.24);
    -moz-transition: all .1s ease;
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
  }
  #services .services-item .icon i {
    font-size: 40px;
    color: #ffffff;
    position: absolute;
    left: 0;
    right: 0;
    top: 30%; 
  }
  #services .services-item h4 {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 15px; 
  }
.partenaire{
    position: relative;
    min-height: 600px;
    background-color: #fff;
  }
  .contact-us{
    padding-bottom: 5%;
  }
  #contact{
    padding-top: 5%;
    padding-bottom: 0;
  }
  #contact form#contactForm {
    margin-top: 5%; 
  }
  #contact form#contactForm input[type=text], #contact form#contactForm input[type=email] {
    min-height: 32px;
    padding: 0px 0 0 28px;
    font-size: 16px;
    color: #5e629c; 
  }
  #contact form#contactForm textarea {
    padding: 15px 0 0 28px;
    font-size: 16px;
    color: #5e629c; 
  }
  #contact form#contactForm button{
    border-style: none;
    border-radius: 20px;
    min-height: 32px;
    /* padding: 0px 0 0 28px; */
    font-size: 16px;
    font-weight: bold;
    background-color: #00bfd8;
    color: #fff;
    text-align: center;
  }
  #contact form#contactForm button:hover{
    background-color: #fff;
    color: #00bfd8;
    border: 1px solid #00bfd8;
    -moz-transition: all .4s ease;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
  }
  #contact form#contactForm .form-control:focus {
    border: 1px solid #00bfd8;
    outline: none;
    box-shadow: none;
    background: #edfdff; 
  }
  #contact p{
    color: white;
  }
  #contact .desc-text p{
    font-style: italic;
    font-weight: bold;
  }
  .section-title{
    color: #e5fff3;
  }
  .section-titles{
    margin-top: 5%;
    color: #151948;
    /* padding-bottom: 5%; */
  }
  .section-header h2{
    font-weight: 900;
  }
  #soutien{
    padding-bottom: 5%;
  }
  #soutien .single-team {
    margin-top: 5%;
    border: 1px solid #ddd;
    position: relative;
    -moz-transition: all .8s ease;
    -webkit-transition: all .8s ease;
    transition: all .8s ease;
    /* height: 450px; */
  }
  #soutien .single-team img {
    object-fit: scale-down;
    width: 100%;
    height: 200px;
  }
  #soutien .single-team .team-social-icons {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: -20px; 
  }
  #soutien .single-team:hover {
    box-shadow: 0px 0px 25px 0px rgba(95, 95, 95, 0.658);
    -moz-transition: all .8s ease;
    -webkit-transition: all .8s ease;
    transition: all .8s ease; 
  }
  #soutien .single-team .team-details {
    padding: 45px 0px 30px 0px;
    position: relative; 
  }
  #soutien .single-team .team-details h5.team-title {
    font-size: 16px;
    font-weight: 600;
    display: block;
    margin-bottom: 0; 
    color: #1b7895;
  }
  #soutien .single-team .team-details p {
    font-size: 12px;
    color: #5e629c; 
  }
  .footer{
    /* margin-top: 5%; */
    padding-bottom:5%;
    background-color: #1b7895;
    /* min-height: 70px; */
  }
  p.mission{
    font-size: 17px !important;
    font-weight: 500;
    color: white!important;
    /* text-align: center !important; */
  }
  @font-face {
    font-family: 'LineIcons';
    src:  url('../../assets/fonts/LineIcons.eot?y2l643');
    src:  url('../../assets/fonts/LineIcons.eot?y2l643#iefix') format('embedded-opentype'),
      url('../../assets/fonts/LineIcons.ttf?y2l643') format('truetype'),
      url('../../assets/fonts/LineIcons.woff?y2l643') format('woff'),
      url('../../assets/fonts/LineIcons.svg?y2l643#LineIcons') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="lni-"], [class*=" lni-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'LineIcons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.services-sections{
    display: block;
    margin: 0 auto;
}
.section-contents{
    margin: 0 auto;
    padding: 2%;
    width: 100%;
    height: fit-content;
}
.service-section-text{
    width: 100%;
}
.service-section-text h2{
    font-size: 29px;
    padding-bottom: 5%;
    padding-top: 10%;
    color: #FF6C0A;
    font-family: 'MontSerrat',sans-serif;
    font-weight: bold;
    text-align: center;
}
.service-section-text p{
    text-align: justify;
    line-height: 35px;
    margin-bottom: 35px;
}
.service-section-text a{
    display: block;
    margin: 0 auto; 
    background-color: #39c3ef;
    text-decoration: none;
    color: #fff;
    font-weight: 800;
    padding: 5px;
    text-align: center;
    border-radius: 17px;
    font-family: 'MontSerrat',sans-serif;
    border: 2px solid #39c3ef;
    width: 40%;
    transition: ease-in-out 0.2s;
}
.service-section-text a:hover{
    background-color: #fff;
    color: #39c3ef;
    border: 2px solid #39c3ef;
    width: 40%;
}
.service-section-img{
   width: 100%;
   display: block;
   margin: 0 auto;
}
.service-section-img img{
    display: block;
    margin: 0 auto;
    width: 80%;
    object-fit: scale-down;
}
