.root-container{
  text-align: center;
  width: 100%;
}

::-webkit-scrollbar-corner{
  background: #fff ;
}
::-webkit-scrollbar {
  width: 10px;
  background-color: #fff;
  content: 'MEDDoC';
}
:hover ::-webkit-scrollbar{
  opacity: 1;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #FFF;
  border-radius: 30px;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(linear,
                     left bottom,
                     left top,
                     color-stop(0.5, #38a3a5),
                     color-stop(0.5, #38a3a5));
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-image: -webkit-gradient(linear,
                     left bottom,
                     left top,
                     color-stop(0.5, #96ebd7),
                     color-stop(0.5, #96ebd7));
}
li{
  list-style: none;
}
